*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d0f1b;
    overflow: hidden;
}

ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li{
    list-style: none;
    font-size: 20px;
}

ul li:before{
    content: attr(data-text);
    position: absolute;
    top: 25%;
    left: -130px;
    color: #fff;
    font-size: 6em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-20%,-20%);
}

@keyframes li{
    0%{
        transform: scale(0.9);
    }
    25%{
        transform:scale(2);
    }
    60%{
        transform:scale(0.9);
    }
    100%{
        transform:scale(0.9);
    }
}
ul li:hover:before{
    opacity: 0.05;
    letter-spacing: 20px;
    animation: li 3s ease-out infinite normal;
}


ul li a{
    position: relative;
    display: inline-block;
    padding: 6px 15px;
    text-decoration: none;
    background: #2196f3;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}
ul:hover li a{
    opacity: 0;
}

ul li a:hover{
    transform: scale(1.4);
    z-index: 1000;
    background: #5bf347;
    opacity: 1;
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8), transparent);
    transform: skewX(35deg);
    transition: 0%;
}

ul li a:hover:before{
    left: calc(100% + 100px);
    transition: 0.5%;
    transition-delay: 0.2s;
}